.slider{
    background-color: gray;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


@media screen and (max-width: 600px) {
    .slider{
        background-color: gray;
        height: 250px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }
  }