.App{
  position: relative;
}
.hideHeader{
  height: 110px;
  width: 100%;
  background-color: honeydew;
}
.body{
  background-color: violet;
  height: 1000px;
  padding: 10 10;
}


.footer{
  background-color: dimgray;
  height: 100px;
}



@media screen and (max-width: 600px) {
  .header{
   
  }
  .hideHeader{
    height: 90px;
    width: 100%;
    background-color: honeydew;
  }

}