.header{
  height: 80px;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  position: fixed;
  /* padding: 0px 10px; */
  z-index: 999;
  justify-content: space-between;
}
.ic_menuView{
  background-color: khaki;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divHide{
  height: 80px;
  width: 100%;
}
.menuView{
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%;
  height: 900px;
  position: fixed;
  z-index: 999;
  top: 80px;
}
.menu{
  top: 80px;
  height: 1000px;
  width: 25%;
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: hotpink;
}

.ic_searchView{
  background-color: indigo;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
   padding: 0px 10px;
}
.ic_search{
  height: 50px;
  width: 50px;
}


.slider{
  height: 70vh;
  width: 100%;
  background-color: indigo;
}

.body{
  background-color: seagreen;
  min-height: 1000px;
}

.products{
  background-color: gray;
  height: 800px;
  width: 100%;
  padding: 0px
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
.item{

}

  @media screen and (max-width: 600px) {
    .header{
      height: 60px;
      width: 100%;
      background-color: rgb(136, 20, 20);
    }
    .ic_menuView{
      background-color: khaki;
      height: 60px;
      width: 60px;
    }
    .divHide{
      height: 60px;
      width: 100%;
    }
    .menuView{
      background-color: rgba(0, 0, 0, 0.6); 
      width: 100%;
      height: 900px;
      position: fixed;
      z-index: 999;
      top: 60px;
    }
    .menu{
      top: 60px;
      height: 1000px;
      width: 75%;
      display: flex;
      position: fixed;
      z-index: 999;
      background-color: hotpink;
    }

    .ic_search{
      height: 35px;
      width: 35px;
    }
    .slider{
      background-color: grey;
      height: 200px;
      width: 100%;
    }
  
  }